@model SupportSystemApp.Models.SupportList

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>SupportList</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaisedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaisedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RaisedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RaisedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DueOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DueOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ResolvedOn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ResolvedOn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PriorityList.PriorityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PriorityList.PriorityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SectionsList.SectionName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SectionsList.SectionName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SeverityList.SeverityName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SeverityList.SeverityName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StatusesList.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StatusesList.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CategoryList.CategoryName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryList.CategoryName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
